/** @format */

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.img-search {
  width: 300px;
  height: 160px;
}
.channel-img {
  block-size: 30px;
}
.history-filter {
  background-color: rgb(24, 24, 24) !important;
  color: antiquewhite !important;
  height: 588px;
}
.list-group-item {
  background-color: rgb(24, 24, 24) !important;
  color: antiquewhite !important;
}
.list-group-item:hover {
  background-color: rgb(46, 46, 46) !important;
}
.list-group-item.active {
  background-color: rgb(46, 46, 46) !important;
  border-color: antiquewhite;
}
time {
  bottom: 7px;
}
.card .fa-play {
  top: 39% !important;
  right: 42% !important;
}
.history-page .remove {
  position: absolute;
  top: 10px;
  right: 13px;
  color: #2c3131c7;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card .card-horizontal .card-body .channel-img-name {
    display: block;
    margin-top: 10px;
  }
  .card .card-horizontal .card-body .channel-img {
    margin-right: 0px !important;
  }
  h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 991px) {
  .card {
    margin-top: 30px;
  }
}
